/* General Styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #111111;
    color: #D2D2D2;
}

p, li {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

h1, h2 {
    font-family: 'Titillium Web', sans-serif;
}


/* Structure */

nav {
    position: absolute;
    height: inherit;
    display: none;
}

main {
    height: inherit;
}


/* Title */

header {
    background: center / cover no-repeat url(./assets/Circuit-Board-Desktop-Wallpaper.png);
    height: 100vh;
    display: flex;
    align-items: center;
}

header img {
    content: "";
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 87%;
    filter: invert(1);
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    background-color: #111111;
    width: 100%;
    padding: 2% 0;
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
}


/* Hero */

#hero {
    margin: 10% auto;
}

#hero article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

img {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

img+#wrap {
    padding-left:6%;
    border-left: 1px solid 	hsla(0, 0%, 95%, .5);
}

#wrap {
    width: 60%;

}

#wrap h2 {
    font-size: x-large;
    margin-bottom: 1%;
}

#wrap p {
    display: flex;
    align-items: center;
}


/* Section */

section {
    background-color: #F3F3F3;
    color: #4B4B4B;
}

#projects {
    padding: 5% 15%;
}