/* General Styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #1D1D25;
    color: #D2D2D2;
}

p, li {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

h1, h2 {
    font-family: 'Titillium Web', sans-serif;
}

/* Structure */

nav {
    position: absolute;
    height: inherit;
    display: none;
}

main {
    height: inherit;
}

/* Title */

h1 {
    margin: 5% auto 2% auto;
    text-align: center;
    font-size: xx-large;
}

img {
    display: block;
    margin: 0 auto 5% auto;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 50%;
}

hr {
    width: 70%;
    margin: 2% auto 2.5% auto;
    border-top: .1rem solid #F3F3F3;
    opacity: 50%;
}

/* Hero */

#hero {
    text-align: center;
}

#hero h2 {
    font-size: x-large;
    margin-bottom: 1%;
}

#hero p {
    margin: 0 15% 5% 15%;
}

/* Section */

section {
    background-color: #F3F3F3;
    color: #4B4B4B;
}

#projects {
    padding: 5% 15%;
}