/* General Styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #111111;
    color: #D2D2D2;
}

p, li {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

h1, h2 {
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    font-size: x-large;
}


/* Structure */

nav {
    position: absolute;
    height: inherit;
    display: none;
}

main {
    height: inherit;
}


/* Title */

header {
    background: center / cover no-repeat url(./assets/Circuit-Board-Desktop-Wallpaper.png);
    height: 100vh;
    display: flex;
    align-items: center;
}

header img {
    content: "";
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 87%;
    filter: invert(1);
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    background-color: #111111;
    width: 100%;
    padding: 2% 0;
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
}


/* Hero */

#hero {
    margin: 10% auto;
}

#hero article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

#hero img {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

img+#wrap {
    padding-left:6%;
    border-left: 1px solid 	hsla(0, 0%, 95%, .5);
}

#wrap {
    width: 60%;

}

#wrap h2 {
    margin-bottom: 1%;
    color: white;
}

#wrap p {
    display: flex;
    align-items: center;
}


/* Section */

section {
    background-color: #F6F7FA;
    color: black;
    width: 70%;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Projects */

#projects {
    padding: 10% 0 5%;
    text-align: center;
    width: inherit;
}

#projects h2 {
    margin: 0 auto 2%;
    background: linear-gradient(90deg, #F6F7FA, #fff, #F6F7FA);
    width: fit-content;
    padding: .5% 10%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#projects p {
    margin-bottom: 10%;
}

#projects ul {
    display: flex;
    flex-direction: column;
}

#projects li {
    height: fit-content;
    width: 70%;
    margin-bottom: 5%;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 
		-6px -6px 26px rgba(255,255,255,.83),
		5px 10px 15px rgba(0,0,0,.05),
		15px 20px 35px rgba(0,0,0,.1),
		inset -2px -2px 2px rgba(0,0,0,.1),
		inset -1px -1px 3px rgba(255,255,255,.6),
		inset 2px 2px 8px rgba(255,255,255,.2),
		inset 1px 1px 8px rgba(255,255,255,.2),
		-6px -6px 26px rgba(255,255,255,.8);
}

.left {
    
}

.right {
    align-self: flex-end;
}

li img {
    height: 15rem;
    width: 25rem;
    object-fit: cover;
}


/* Skills */

